@charset "UTF-8";


/*---------------------------------------------------
 This CSS file holds the colors used across the site
-----------------------------------------------------*/

/* -----------------
    CSS Explanation
   -----------------

So from a programming standpoint, I like to organize my file by what they do to
make things more interchangeable. For example, I'm using grid.css for my
photography page. This made it easier for me to reuse the file (in this case, 
copy/paste + modify) for this assignment. If I had unified everything to a
common css, there would be some css conflicts if I had same elements or tags but
 want.different styling.


So in the end, my css is kinda split in three ways:

-common color css
-common layout css (in this case, the navigation)
-unique/specific css

Note: everything here is essentially the same from the previous assignment,
except for the colors

*/

/* --------
    Colors
   --------

  Text: #fcf9ea

  Blacks:
  #ffffff
  #d6d6d6
  #afafaf
  #898989
  #656565
  #434343
  #242424
  #000000

  #16161d - Eigengrau

*/


:root{
  /* Usage: var(--varName) */
  --bg-color: #16161d;
  --box-shadow: rgba(101,95,70,.08) 0 5px 10px, rgba(89,82,54,.2) 0 15px 40px;
  --accent: #2e3436;
}

*{
  color: #fcf9ea;
}

body{
  background: var(--bg-color);
}

#taco{
  background: inherit /*var(--tanish)*/;
}

nav *:hover{
  background: var(--accent);
  box-shadow: var(--box-shadow);
}
*:focus{
  background: var(--accent);
  box-shadow: var(--box-shadow);
}
.currentNav:focus{
  background: var(--accent);
  box-shadow: var(--box-shadow);
}

.currentNav{
  background: var(--bg-color);
}

.stickMeTop{
  background: var(--bg-color);
  box-shadow: #999999cc 0 5px 10px, rgba(166,173,201,.2) 0 15px 40px;
}

@media only screen and (max-width: 640px){
  details{
    /*background-color: var(--coffee-cake);*/
  }
  details:hover{
    background-color: var(--accent);
  }
  details[open]{
    background-color: var(--bg-color);
  }
  details[open]:hover{
    background-color: var(--bg-color);
  }
}

