@charset "UTF-8";

/*{border:0.5px solid red;}*/

/*--------------------
 Index page of art101
----------------------*/

/* Hide everything at first */
.readings{
  display: none;
}
.projects{
  display: none;
}

label{
  box-sizing: border-box;
  display: inline-block;
  position: sticky;
  top: 1.80em;
  width: 50%;
  text-align: center;
  margin: 0 auto 1rem auto;
  border: 2px solid var(--bg-color);
  box-shadow: #999999cc 0 5px 10px 1px, #00000033 0 15px 40px 1px;
  background: var(--bg-color);
}
label:hover{
  cursor: pointer;
  border: 2px solid var(--accent);
  background: var(--accent);
  box-shadow: #fde75a00 0 5px 10px, #fde75a33 0 15px 40px;
}
/* Make the buttons appear 'centered' despite no containers to center in *
#reading + label{ float:right; }
#project + label{ float:left; }*/

/* Hide the buttons and style what is selected */
input[type=radio]{
  opacity: 0;
  border: 1px solid red;
  /*display: none;*/
  z-index: -1;
  position: absolute;
  left: -9999999px;
}
input[type=radio]:checked + label{
  border-bottom: 2px solid;
  z-index: 1;
}
input[type=radio]:focus + label{
  border: 2px solid var(--accent);
  border-bottom: 2px solid;
  background: var(--accent);
  z-index: 1;
}

/* Show what was selected */
#reading:checked ~ .readings{
  display: block;
}
#project:checked ~ .projects{
  display: block;
}

/* Styles each fieldset to be readable instead of clumped together */
.gridify{
  box-sizing: border-box;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-block{
  /*width: 100%; Kinda useless w/ grid */
}

/* Limit the size of media */
/* TODO: flexbox/grid media */
img, video{
  width: calc(50em - 25rem);
  max-width: 476px;
}
@media only screen and (max-width: 960px){
  img, video{
    width: calc(50em - 35rem);
  }
}
@media only screen and (max-width: 640px){
  img, video{
    width: calc(50em - 25rem);
  }
  /*--------------------
   Index page of art101
  ----------------------*/
  .grid-block *{
    font-size: 0.7rem;
  }
}
