@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Colors:

  Tanish
  #786344 - Olive Wood
  #ceae6a - Putty
  #cfcb93 - Martini Olive

  Bluish
  #acdabc - Mountain Mint
  #8ce1db - Island Oasis
  #accdd6 - Sonata

  Yellows:
  #ffffff
  #fff1e0 - Background Color
  #fff3e0
  #ffe7c0
  #ffdba1
  #ffd082
  #ffc462
  #ffb93f
  #ffae00
  
  Blacks:
  #ffffff
  #d6d6d6
  #afafaf
  #898989
  #656565
  #434343
  #242424
  #000000

*/

#sub-title {
  /* Nothing yet */
  display: inline-block;
}
.sub-title a, h1 {
  margin-bottom: -0.1em;
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 50;
}
.section-title {
  text-align: center;
  border-bottom: 3px solid #242424;
  letter-spacing: 0.5em;
}
#myName{
  font-weight: 800;
  letter-spacing: 0.2em;
}

/*effects a lot of stuff*/
body {
  margin: 0px;
  color: #242424;
  font-size: calc(12px + 1vh);
  font-family: "Open Sans", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  background-color: #fff1e0;
  overflow-x: hidden;
  width:100%;
}

header{
  width: 75%;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

footer{
  width: 45%;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

taco {
  width: 75%;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

wrap {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: 0.3s;
}

/* Just for the paragraphs*/
p {
  text-indent: 1em;
  padding: 0px 12px;
}

a {
  color: #242424;
  text-decoration: none;
  border-bottom: 3px dotted black
}

img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
img:hover {
  opacity: 0.9;
}

/*Horizontal Nav*/
nav{
  height: 1em;
  background-color: #fff1e0;
  margin-top: 0.5em; /*adds distance from header*/
  width: 100%;
  display: table; /*makes the nav act like a table</table>*/
  border-collapse: collapse;
  border: none;
  line-height: 50px;
  border-collapse: separate; border-spacing: 0.2em;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
  display: table-row; /*makes the ul act like a table-row <tr>*/
  text-align: center;
  background-color: #fff3e0;
}
nav a{
  border: 1.5px solid black;
  transition: 0.3s;
  margin: 0;
  border-radius: 1em;
  background-color: #fff1e0; /*will take precedence over the background-color*/
  display: table-cell; /*makes the li act like a table-cell<td>*/
  color: #242424;
  text-decoration: none;
}
nav a:link{
  color: #242424;
  text-decoration: none;
}
nav a:hover{
  background: #ffae00; /*#ffd082;*/
  text-decoration: underline;
}
nav .currentNav {
  background-color: #ffd082;
  margin: 0;
  border-radius: 1em;
}/*
#mainnav .currentNav:hover {
  background-color: #43A6CB;
}*/

