@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Colors:

  Blacks:
  #ffffff
  #d6d6d6
  #afafaf
  #898989
  #656565
  #434343
  #242424
  #000000

*/

/* Something like a reset.css */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  color: #242424;
  font-size: 1rem;
  font-family: "Open Sans", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column wrap;
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
}

header, footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
#topNav {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: end;
}
#topNav a { margin: 0 1em; }

/* make things readable by limiting characters to 70/line */
.text { max-width: 70ch; }

/* Override some pre set settings*/
.footSection *:not(h6) {
  font-size: 0.65rem;
  display: flex;
  flex-flow: column wrap;
  margin: 0.25rem 0.25rem 0;
}
.footSection h6 {
  margin: 1em 0 auto 0;
}
h1, nav { display: inline; }
article {
  display: grid;
  margin: 0 calc( 5% + 1vw);
  border: 1px solid red;
  grid-template-areas:
  "section-title" "section-title"
  "tContent" "tContent" "tContent"
}
.section-title { grid-area: section-title; }
.tContent { grid-area: tContent; }


