@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Colors:

  Tanish
  #786344 - Olive Wood
  #ceae6a - Putty
  #cfcb93 - Martini Olive

  Bluish
  #acdabc - Mountain Mint
  #8ce1db - Island Oasis
  #accdd6 - Sonata

  Yellows:
  #ffffff
  #fff1e0 - Background Color
  #fff3e0
  #ffe7c0
  #ffdba1
  #ffd082
  #ffc462
  #ffb93f
  #ffae00
  
  Blacks:
  #ffffff
  #d6d6d6
  #afafaf
  #898989
  #656565
  #434343
  #242424
  #000000

*/

/* New colors  */
/*

#ffae00 - Orange
#99ae1e - A bit green
#3b9e52 - More green
#008472
#006674
#2f4858 - dark blue


*/

#sub-title {
  display: inline-block;
}
.sub-title a, h1, h6 {
  color: #242424;
}

/*effects a lot of stuff*/
body {
  background-color: #99ae1e;
}
/* Grid! */
.gridify{
  background: inherit;
}
.gridify > *{
  background: #e3f194;
}
.photDescB{
  background: inherit; /*#00000000; /*Transparent background*/
}
.photDescT{
  background: inherit; /*#00000000; /*Transparent background*/
}
.gridify > * p{
  position: static;
}
a{
  border: none;
  text-decoration: underline;
}
/*Horizontal Nav*/
nav{
  background-color: inherit;
}
nav a{
  border: 1.5px solid black;
  background-color: inherit;
}
nav a:link{
  color: #242424;
}
nav a:hover{
  background: #ffae00; /*#ffd082;*/
}
nav .currentNav {
  background-color: #ffd082;
}

ul{
  background-color: inherit;
}
li{
  padding: 0.5em;
  background: #00d4b7;
  list-style-type: none;
  margin-left: -1.5em;
  border-radius: none;
}
li:nth-of-type(even):not(.listSpec){
  background: #e3f194;
}
li:nth-of-type(odd):not(.listSpec){
  background: #a2af5a;
}
