@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Colors:

  Tanish
  #786344 - Olive Wood
  #ceae6a - Putty
  #cfcb93 - Martini Olive

  Bluish
  #acdabc - Mountain Mint
  #8ce1db - Island Oasis
  #accdd6 - Sonata

  Yellows:
  #ffffff
  #fff1e0 - Background Color
  #fff3e0
  #ffe7c0
  #ffdba1
  #ffd082
  #ffc462
  #ffb93f
  #ffae00
  
  Blacks:
  #ffffff
  #d6d6d6
  #afafaf
  #898989
  #656565
  #434343
  #242424
  #000000
*/

/* New ish colors

  #ffae00 - Orange
  #99ae1e - A bit green
  #3b9e52 - More green
  #008472
  #006674
  #2f4858 - dark blue

  Updated colors
  #ffae00 - orange
  #504538 - brownish
  #b7a99a - dusty color
  #00df98 - turquoise
*/

#sub-title {
  display: inline-block;
}
.sub-title a, h1, h6 {
  color: #242424;
}
.taco{
  box-shadow: 5px 10px 18px rgba(36,36,36, 0.5), 15px 20px 28px rgba(36,36,36, 0.5);
  padding: 1em 2em;
  border-radius: 1em;
}
/*effects a lot of stuff*/
body {
  background-color: #fff1e0;
}
/* Grid! */
.gridify{
  background: inherit;
}
.gridify > *{
  background: #b7a99a;

}
.photDescB{
  background: inherit; /*#00000000; /*Transparent background*/
}
.photDescB span{
  width: 25%;
  height: 20px;
  margin: 0.1em;
  text-align: center;
}
.photDescB .cOne{
  background: #ffae00;
}
.photDescB .cTwo{
  color: #b7a99a;
  background: #504538;
}
.photDescB .cThree{
  background: #b7a99a;
}
.photDescB .cFour{
  background: #00df98;
}
.photDescT{
  background: inherit;
}
.gridify > * p{
  position: static;
  background-color: rgba(36,36,36,0.1);
  border-radius: 25% 75% 16% 84% / 41% 17% 83% 59%;
}
/*.gridify > * *{ border-radius: 1em 0; }*/
.gridify > *:nth-child(even){ border-radius: 0 1em; }
/* .gridify > * *:nth-child(even){ border-radius: 0 1em; }*/
.three *{ border-radius: 1em 0; }

a{
  border: none;
  text-decoration: underline;
}
/*Horizontal Nav*/
nav{
  background-color: inherit;
}
nav *{
  border: 1.5px solid black;
  background-color: inherit;
}
nav a:link{
  color: #242424;
}
nav a:hover{
  background: #ffae00; /*#ffd082;*/
}
nav .currentNav {
  background-color: #ffd082;
}

/* Dropdown menu */
.dropbtn {
  background-color: #00000000;
  border: none;
  text-align: center;
  display: inline-block;
}
.dropDown button{
  width: 100%;
}
.dropContent{
  display: none;
  position: absolute; /* This makes other nav elements stay height-wise */
  background-color: #00000000;
  min-width: 160px;
  z-index: 1;
  margin: auto;
  width: 100%;
  border: none;
}
.dropContent a{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  text-decoration: none;
  display: block;
}

.dropContent a:not(.currentNav){ background-color: #fff1e0; }
.dropContent a:not(.currentNav):hover{ background-color: #ffae00; }
.dropDown:hover .dropContent{
  display: block;
  border: none;
}
.dropDown:hover .dropbtn{ background-color: #ffae00; }
.dropDown *{
  padding: 0;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}
.dropDown:hover{ background-color: #ffae00; }

ul{
  background-color: inherit;
}

li{
  padding: 0.5em;
  list-style-type: none;
  margin-left: -1.5em;
  border-bottom: 1px solid #504538;
  border-radius: 0 !important;
/*  background: #00df98;
}
li:nth-of-type(even):not(.listSpec){
  background: #b7a99a;
}
li:nth-of-type(odd):not(.listSpec){
  background: #504538;
  color: #b7a99a;*/
}
.listSpec{
  background: #00df98;
  border-radius: 51% 49% 75% 25% / 55% 86% 14% 45% !important;
  border-bottom: none;
}

.clip-blob1 {
  clip-path: url(#clip1);
}
.blob1{
  border-radius: 62% 38% 70% 30% / 30% 54% 46% 70%;
}
.clearBG{ background-color: inherit; }
.underline{
  border-bottom: solid 0.15em black;
  border-radius: 0 !important;
}
