@charset "UTF-8";

/*----------
 Index page
------------*/
picture{
  display: inline;
  float: left;
  padding: 0 1em 0 0;
}
/* clearfix hack lol */
#taco{ overflow: auto; }
/* add spacing gap between picture and paragraph */
#taco p{ padding: 0 0 0 1em; }
img{ height: 15em; }

@media only screen and (max-width: 640px){
  /*----------
   Index page
  ------------*/
  img{
    height: 7em;
  }
}
