@charset "UTF-8";

/*----------------------
  Variables 
  Usage: var(--varName)
  ----------------------*/
:root{
  --border-radius: 1rem;
}

/*----------------
 Base page layout
------------------*/
*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: ease-in 0.1s;
  /*border: 0.5px solid red;*/
}

body{
  min-width: 360px;
}

/* div wrapper */
#taco{
  position: relative;
  margin: 1.5em auto;
  width: 80%;
  padding: 2em 1em;
  border-radius: var(--border-radius);
  border: solid 2px;
}

header, nav, main, footer, details{
  margin: 0.5em 0;
}

header{
  text-align: center;
}
header h1{
  border-style: none none none none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3em;
}

.nav{
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
}

.nav *:not(summary){
  border: solid 2px;
  border-radius: var(--border-radius);
  padding: 0 1em;
  width: 25%;
  margin: 0.25rem;
  text-decoration: none;
  text-align: center;
}

main{
  padding: 0 0.25rem;
}
main p{
  text-indent: 1em;
}

footer{
  font-size: 0.7em;
  line-height: 0.5em;
  position: absolute;
  bottom: 0;
  padding: 0 0.25rem;
}

.mobile{
  display: none;
}


/* This styles the mobile dropdown menu */
details{
  margin: 0.25rem;
  text-align: center;
  border: 2px solid;
  border-radius: var(--border-radius);
  display: flex;
}
details[open]{
  border: 2px solid;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
details:hover{ cursor: pointer; }
details[open] summary{
  padding: 0;
  margin: 0;
  border-bottom: 2px solid;
}
summary{ border: none; }
.nav details a{
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
}
.nav details{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* CSS below hides the arrow on the details element */
details summary::-webkit-details-marker { display:none; }
details > summary:first-of-type { list-style-type: none; }

.mobile nav{
  flex-direction: column;
  margin: 0;
}
.mobile nav a{
  width: 100%;
  padding: 0;
  margin: 0 0;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
}
.mobile nav a:last-child{ border: none; }

/*-------------------------
 Base page layout (mobile)
---------------------------*/
@media only screen and (max-width: 640px){
  /* Some adjustment to already existing elements */
  header h1{
    border-style: none none none none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
  }
  footer{
    font-size: 0.7em;
    line-height: 1em;
    position: absolute;
    bottom: 0;
  }
  .mobile{ display: block; }
  .desktop{ display: none; }

}

/* Keep things narrow thru the resolutions */
@media only screen and (min-width: 1080px){
  #taco{
    width: 70%;
  }
}
@media only screen and (min-width: 1440px){
  #taco{
    width: 60%;
  }
}
@media only screen and (min-width: 1920px){
  #taco{
    width: 40%;
  }
}
@media only screen and (min-width: 2500px){
  #taco{
    width: 30%;
  }
}
@media only screen and (min-width: 4320px){
  #taco{
    width: 20%;
  }
}

